
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Թթվային տեղումների առաջացման հիմնական պատճառը մթնոլորտի աղտոտումն է ծծմբի, ազոտի օքսիդներով և այլ միացություններով:</h2> <input type="radio" name='405b7a9c1d8bdaa02f0140cc7712873e' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='405b7a9c1d8bdaa02f0140cc7712873e' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Օզոնը թթվածնի գոյության ձևերից մեկն է, որն իր մոլեկուլում կրում է թթվածնի ոչ թե երկու, այլ մեկ ատոմ:</h2> <input type="radio" name='f4779574f6f4358f8d82c20790f89512' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='f4779574f6f4358f8d82c20790f89512' true='0' value="այո" onclick="check_ans(this)">այո <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
