
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Երկագնդի վրա գոյություն  ունեն քաղցրահամ ջրերի երկու տիպի աղբյուրներ՝ մակերևութային և ստորերկրյա ջրեր:</h2> <input type="radio" name='f307d21005cd17b66bc4481597d704f6' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='f307d21005cd17b66bc4481597d704f6' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Ջրոլորտը միավորում է օվկիանոսները, ծովերը, գետերը, լճերը, ճահիճները, ջրամբարները, ջրային ավազանները, բևեռային և լեռնային սառցադաշտերը, ստորգետնյա ջրերը, հողային խոնավությունը և մթնոլորտային գոլորշիները:<font color="#FF0000"></font></h2> <input type="radio" name='0a39583a7a3bafacf69944e84a6e1ff5' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='0a39583a7a3bafacf69944e84a6e1ff5' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
