
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Հողի բնական բերրիությունը ձևավորվում է շատ երկար ժամանակի ընթացքում և պահպանվում է այնքան, քանի դեռ բնակեցված է տարբեր կենդանի օրգանիզմներով, որոնք մասնակցում են հումուսի առաջացման գործընթացներին:</h2> <input type="radio" name='981e224c6054caa6fd2f68686f11f900' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='981e224c6054caa6fd2f68686f11f900' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Հողի էրոզիան դրա քայքայումն է ջրի կամ քամու ազդեցությամբ:</h2> <input type="radio" name='72f6db8a58867a4ccd1cecd4572a581e' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='72f6db8a58867a4ccd1cecd4572a581e' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Հողում փոխազդում են կենսոլորտի տարրերի մեծ մասը, ջուրը, օդը և կենդանի օրգանիզմները: </h2> <input type="radio" name='beb918578b8f682dc130ee649e65c37d' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='beb918578b8f682dc130ee649e65c37d' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Հողը յուրահատուկ բնական գոյացություն է, որն օժտված է կենդանի և անկենդան բնությանը բնորոշ մի շարք հատկություններով:</h2> <input type="radio" name='da845dd66e850f596c60ed9439c7419c' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='da845dd66e850f596c60ed9439c7419c' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Հողը յուրահատուկ բնական գոյացություն է, որն օժտված է միայն անկենդան բնությանը բնորոշ մի շարք հատկություններով:</h2> <input type="radio" name='e95b0faad96fb3519b2746fccd3edc34' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='e95b0faad96fb3519b2746fccd3edc34' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Էրոզիան առաջին հերթին սկսվում է այն հողերում, որտեղ լավ զարգացած է բնական բուսածածկույթը:</h2> <input type="radio" name='ec5db5dc1ce124db4e91003ca70c9fd6' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='ec5db5dc1ce124db4e91003ca70c9fd6' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Հողը յուրահատուկ բնական գոյացություն է, որն օժտված է միայն կենդանի բնությանը բնորոշ մի շարք հատկություններով:</h2> <input type="radio" name='e4c7c85e0faf8e29a099b7cbb4f4fa9b' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='e4c7c85e0faf8e29a099b7cbb4f4fa9b' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
