
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Կենսաբանական ձևերի բազմազանությունն է Երկրի վրա կյանքի կայունության հիմնական պայմանը:</h2> <input type="radio" name='1ab9184fd48f8523406ba969f379d78c' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='1ab9184fd48f8523406ba969f379d78c' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Հազվագյուտ տեսակները, ի տարբերություն լայնորեն տարածվածների, օժտված են փոքր գենետիկական բազմազանությամբ:</h2> <input type="radio" name='3ffd1f01418203461240ecba5565ba6d' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='3ffd1f01418203461240ecba5565ba6d' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Երկրի վրա ապրող բոլոր տեսակները միավորվում են կենդանի բնության երկու թագավորություններում` բույսերի և կենդանիների:</h2> <input type="radio" name='b88525c0493890429cd511871a249ce5' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='b88525c0493890429cd511871a249ce5' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Երկրի վրա ապրող բոլոր տեսակները միավորվում են կենդանի բնության չորս թագավորություններում` բակտերիաների, սնկերի, բույսերի և կենդանիների:</h2> <input type="radio" name='fbca72be15414258650b9a70602cdd7e' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='fbca72be15414258650b9a70602cdd7e' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Հազվագյուտ տեսակները, ի տարբերություն լայնորեն տարածվածների, օժտված են մեծ գենետիկական բազմազանությամբ:</h2> <input type="radio" name='aa3e3f2b8ccbc73387fea50de1ebddda' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='aa3e3f2b8ccbc73387fea50de1ebddda' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Երկրի վրա ապրող բոլոր տեսակները միավորվում են կենդանի բնության երեք թագավորություններում` բակտերիաների, բույսերի և կենդանիների:</h2> <input type="radio" name='1313c1e8a12fc835b54d213ce820ad88' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='1313c1e8a12fc835b54d213ce820ad88' true='0' value="այո" onclick="check_ans(this)">այո <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
