
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Հազվագյուտ տեսակների պահպանության և վերականգնման ռազմավարության մեխանիզմների հիմքում պետք է լինեն նշված տեսակների պահպանության գործնական հնարավորությունը սահմանափակող գործոններ: </h2> <input type="radio" name='9a39fc738a567ab7f2b6c378bf628a63' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='9a39fc738a567ab7f2b6c378bf628a63' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Հազվագյուտ տեսակների պահպանության և վերականգնման ռազմավարության մեխանիզմների հիմքում պետք է լինի նշված տեսակների պահպանության գործնական հնարավորությունը օպտիմալ գործոններից: </h2> <input type="radio" name='21088a9da65b7edf1b9f13888983e0aa' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='21088a9da65b7edf1b9f13888983e0aa' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Առաջին բուծարանների ստեղծումը նշանակում էր անցում պահպանության ակտիվ ձևերից դեպի անհետացող տեսակների պահպանության համար պասիվ պայքար:</h2> <input type="radio" name='73a0a227144f225fc4265a92e7384419' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='73a0a227144f225fc4265a92e7384419' true='0' value="այո" onclick="check_ans(this)">այո <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
