
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Կայուն զարգացումը մարդկության այժմյան պահանջմունքների ճիշտ բավարարումն է, որը Երկրի վրա չի սահմանափակի ապագա սերունդների երկարատև գոյատևման հնարավորությունները:  </h2> <input type="radio" name='feea6e6e6b29e416f26c0b7d8232f8d6' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='feea6e6e6b29e416f26c0b7d8232f8d6' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Քսենոբիոտիկները նյութեր են, որոնք օգտակար են մարդու և այլ օրգանիզմների համար:         </h2> <input type="radio" name='bf3a88f16ab19c917231d463674e6e6d' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='bf3a88f16ab19c917231d463674e6e6d' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Մոլորակի անտառների մոտավորապես 30%-ը գրավում են փշատերևային անտառները, իսկ մնացածը` տերևայինները.</h2> <input type="radio" name='b8fadfbc82e9cedbf948f9235d23ebcc' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='b8fadfbc82e9cedbf948f9235d23ebcc' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Ֆոտոսինթեզի հետ է կապված մթնոլորտի հագեցումը ածխածնի երկօքսիդով:</h2> <input type="radio" name='71cb0db33a5c6bd7e83fcadbba086e1a' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='71cb0db33a5c6bd7e83fcadbba086e1a' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Ֆոտոսինթեզի հետ է կապված մթնոլորտի հագեցումը թթվածնով:</h2> <input type="radio" name='1aa05fb386abd4087544aec0f34c4077' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='1aa05fb386abd4087544aec0f34c4077' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Մոլորակի անտառների մոտավորապես 30%-ը գրավում են տերևային անտառները, իսկ մնացածը` փշատերևայինները.</h2> <input type="radio" name='ecdf8905a79c03d655511c81f983d08e' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='ecdf8905a79c03d655511c81f983d08e' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Ֆոտոսինթեզը բարդ կենսաքիմիական գործընթաց է, որի ժամանակ բույսերը կանաչ գունանյութ քլորոֆիլի միջոցով արեգակնային ճառագայթման էներգիան փոխակերպում են ածխածնի երկօքսիդից և ջրից ստացված օրգանական միացությունների քիմիական էներգիայի:</h2> <input type="radio" name='8709382414ee3bf3e228be5c38fa8aa2' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='8709382414ee3bf3e228be5c38fa8aa2' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Ֆոտոսինթեզը բարդ կենսաքիմիական գործընթաց է, որի ժամանակ բույսերը կանաչ գունանյութ քլորոֆիլի միջոցով արեգակնային ճառագայթման էներգիան փոխակերպում են թթվածնի և օդից ստացված օրգանական միացությունների քիմիական էներգիայի:</h2> <input type="radio" name='1a18521d2a0b7a8dfcfd7ec85eeaec5b' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='1a18521d2a0b7a8dfcfd7ec85eeaec5b' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Կայուն զարգացումը մարդկության այժմյան պահանջմունքների բավարարումն է, որը  Երկրի վրա կսահմանափակի ապագա սերունդների երկարատև գոյատևման հնարավորությունները:  </h2> <input type="radio" name='2533e78c13bf98ee5f8ba81be9b3df93' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='2533e78c13bf98ee5f8ba81be9b3df93' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Քսենոբիոտիկները նյութեր են, որոնք օտար են մարդու և այլ օրգանիզմների համար:         </h2> <input type="radio" name='2127689b5e566941bdff92cdfe3ee2db' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='2127689b5e566941bdff92cdfe3ee2db' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
