
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
<div><h2>Ռացիոնալ բնօգտագործումը կարող է ի վերջո հանգեցնել բնական միջավայրի այն հատկությունների ոչնչացման, որոնք մարդու համար բնական կենսապայման են ծառայում, իսկ դա նշանակում է նաև մարդու ոչնչացում, մարդու, որն արգասիքն է բնական միջավայրի ու բնության մասնիկն է:<font color="#FF0000"></font></h2> <input type="radio" name='638791efc5e72bf27214131d656c1d40' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='638791efc5e72bf27214131d656c1d40' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Տիեզերական պաշարները` արեգակնային ճառագայթումը, ծովային մակընթացությունները և տեղատվությունները,  սպառվող և վերականգնվող են:<font color="#FF0000"></font></h2> <input type="radio" name='1b7a102350bf615abb1ef0fcdad1a057' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='1b7a102350bf615abb1ef0fcdad1a057' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Ջրային, կլիմայական և տիեզերական պաշարները դասվում են անսպառ պաշարների թվին:<font color="#FF0000"></font></h2> <input type="radio" name='6b9a1042fa469c333ddd9407bef43006' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='6b9a1042fa469c333ddd9407bef43006' true='1' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Ըստ էկոլոգ Բ.Կոմմոների` Էկոլոգիական գործընթացների մեջ մարդու միջամտությունների  հիմնական ձևերից մեկը ցրված էներգիայի խտացումն է  ջերմային աղտոտման ձևով:<font color="#FF0000"></font></h2> <input type="radio" name='67dbfb7d5f6ea9aa12f097546dae76f5' true='1' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='67dbfb7d5f6ea9aa12f097546dae76f5' true='0' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Բնառեսուրսային պոտենցիալ ասելով հասկանում ենք բնական միջավայրի` մասնավորապես բնական համակարգերի այն կարողությունը, որը դրանք ի վիճակի են տրամադրել մարդուն` խախտելով սեփական հավասարակշռությունը և ինքնակարգավորման բնական ընթացքը:<font color="#FF0000"></font></h2> <input type="radio" name='f35681222c4f70636235590bf35e1fa1' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='f35681222c4f70636235590bf35e1fa1' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div><div><h2>Կլիմայական պաշարները` օդը, քամու էներգիան, չեն ենթարկվում  մարդածին գործոնների ազդեցությանը:<font color="#FF0000"></font></h2> <input type="radio" name='d52d3fd90815aa266ed9bf0cda4ac3b7' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br> <input type="radio" name='d52d3fd90815aa266ed9bf0cda4ac3b7' true='0' value="այո" onclick="check_ans(this)">այո <br></div><div><h2>Կենսազանգվածի չափման համար օգտագործվում է տոննա/տարի (կենսազանգվածի տարեկան աճը) կամ տոննա (կգ)/տարի/հա միավորը:<font color="#FF0000"></font></h2> <input type="radio" name='e05dcd00cf681f372aae0051d90e3cff' true='0' value="այո" onclick="check_ans(this)">այո <br> <input type="radio" name='e05dcd00cf681f372aae0051d90e3cff' true='1' value="ոչ" onclick="check_ans(this)">ոչ <br></div>
<head>
  <meta charset="UTF-8">
<script type='text/javascript'>
check_ans = function (e) {
if (e.attributes['true'].value === '1') {
// #e3f5dc
e.parentElement.style = "background-color: #e3f5dc";
} else {
// #ff6475
e.parentElement.style = "background-color: #ff6475";
}
}
</script>
</head> 
