<head>
  <meta charset="UTF-8">
</head> 
<div>
  <h2>Երկրի մակերևույթի մոտ գտնվող մթնոլորտային օդը պարունակում է մոտ.</h2>
  <input type="radio" name="%s" value="%s" checked="0">%s <br>
  <input type="radio" name="%s" value="%s" checked="0">%s <br>
  <input type="radio" name="%s" value="%s" checked="0">%s <br>
  <input type="radio" name="%s" value="%s" checked="0">%s <br>  
</div>
